html {
    min-height: 100%;
}

body{
    font-family: "poppins", sans-serif;
}

h2{
    font-weight: 700;
    color: #242323, 83%;
}

h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 14px;
    color: rgba(121, 121, 121, 0.83);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
    
}

.login{
    display: flex;
    flex-direction: row;
    /* border: 2px solid; */
    width: 488px;
    height: 549px;
    background-color: white;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.login-child{
    width:100%;
    height: 100%;
    background-color:white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    text-align: left;
    
    
}

.login-child .logo{
    margin-top: 16px;
    margin-left: 36px;
    width: 70%;
    display: flex;
    flex-direction: row;
}



.logo img{
    width: 100px;
    height: 60px;
    object-fit: cover;
    margin-left: 8px;
}


.login-child .judul{
    margin-left: 36px;
}

.login-child .formulir{
    height: 60%;
    width: 70%;
    margin-left: 36px ;
    height: auto;
    width: 85%;
}

.formulir input{
    background-color: transparent;
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #C4C4C4 2px;
    padding: 3px 10px;
    width: 80%;
    margin-top: 24px;
}

.login-child .btnSignUp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.btnSignUp button{
    background-color: #185ADB;
    border-radius: 15px;
    width: 283px;
    height: 43px;
    border: none;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    transition: 1s;
    color: white;
}

.btnSignUp button:hover{
    
    background-color: rgba(24, 90, 219, 0.7);
}

.login-child .btnLogin{
    margin-top: 24px;
    margin-left: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: rgba(121, 121, 121, 0.83);
}


.btnLogin a{
    text-decoration: none;
    color: rgba(121, 121, 121, 0.83);
    transition: 1s;
}

.btnLogin a:hover{
    color: rgba(0, 0, 0, 0.83);
    transform: translateY(2px);
}


@media screen and (max-width: 768px){
    .login{
        max-width: 600px;
    }

    .kotak-kiri{
        width: 100%;
        border-radius:15px;
    }



    .kotak-kanan{
        display: none;
    }
}


@media screen and (max-width: 576px){
    .login{
        max-width: 400px;
    }

    .kotak-kiri{
        width: 100%;
        border-radius:15px;
    }

    .kotak-kanan{
        display: none;
    }
}

